table {
  width: 100%;
}

img{
  border-radius: 50%;
}

mat-icon {
  cursor: pointer;
}

mat-form-field {
  margin: 0.5em;
}

.bigger {
  width: 60%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
