<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Bildvorschau </th>
    <td mat-cell *matCellDef="let element">
      <img [src] ="element.src" width="80px" height="80px">
     </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Bildname </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Src Column -->
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef> Bildpfad </th>
    <td mat-cell *matCellDef="let element"> {{element.src}} </td>
  </ng-container>

  <!-- delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let element"> <mat-icon color="accent" (click)="onDelete(element)">delete</mat-icon> </td>
  </ng-container>

  <!-- edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Ändern </th>
    <td mat-cell *matCellDef="let element"> <mat-icon (click)="setExpandedElement(element)" color="primary">edit</mat-icon> </td>
  </ng-container>

 <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

    <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <form [formGroup]="changeImageForm" (ngSubmit)="onChange(element)">

            <mat-form-field appearance="fill" >
              <mat-label>Bildname:</mat-label>
              <input matInput type="text" formControlName="newName" placeholder="e.g. Town">
            </mat-form-field>

            <mat-form-field appearance="fill" >
              <mat-label>Bildquelle:</mat-label>
              <input matInput type="text" formControlName="newSrc" placeholder="e.g. http://bla.jpg">
            </mat-form-field>

            <button submit mat-raised-button color="accent" [disabled]="!changeImageForm.valid">Speichern</button>

          </form>
    </div>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="element-row"
      [class.expanded-row]="expandedElement === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<br>

<form [formGroup]="addNewImageForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill" >
    <mat-label>Bildname:</mat-label>
    <input matInput type="text" formControlName="name" placeholder="e.g. Town">
  </mat-form-field>

  <mat-form-field appearance="fill" class="bigger">
    <mat-label>Bildquelle:</mat-label>
    <input matInput type="text" formControlName="src" placeholder="e.g. http://bla.jpg">
  </mat-form-field>

  <button submit mat-raised-button color="accent" [disabled]="!addNewImageForm.valid">Hinzufügen</button>

</form>
