.sidenav-container {
  flex: 1;
}

.submenuHeader {
  margin-left: 1em;
}

mat-sidenav {
  min-width: 200px;
}


.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-spacer {
  flex: 1 1 auto;
}

.btmFooter {
  border-top: 2px solid #F49927;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.topBtn {
  margin: 5px;
}

.list-item-active {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.04);
}
