<div class="container">
  <mat-toolbar color="primary">
    <button mat-button onclick="this.blur()" (click)="drawer.toggle()" *ngIf="router.url.indexOf('/login') == -1">
      <mat-icon color="accent">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/home'" *ngIf="router.url.indexOf('/login') == -1">
      <h1 class="header">Angular Seminar Testseite</h1>
    </a>
    <span class="menu-spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="over">
      <mat-nav-list>
        <a
          *ngFor="let item of menuList"
          (click)="drawer.toggle()"
          mat-list-item
          [routerLink]="[item.url]"
          routerLinkActive="list-item-active">
        <mat-icon matListIcon color="primary" class="app-nav-list-icon">{{item.icon}}</mat-icon>
        {{item.title}}
        </a>
       </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <p class="btmFooter">
    <mat-toolbar color="primary" class="footer" flex>
      <span></span>
    </mat-toolbar>
  </p>
</div>
